

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */

.secondary-bg {
  background-color: #FFF8F3;
}
.text-primary {
  color: #FD6E0A;
}
.text-center {
  text-align: center;
}
.dark-2 {
  color: #757575;
}
.dark-3 {
  color: #474747;
}

.btn-primary {
  background-color: #FD6E0A;
  font-weight: 700;
  font-size: 20px;
  color: white;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
}

.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #181818;

}

.section-description {
  font-size: 18px;
  color: #757575;
}



/* Nav Part Start */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;

}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 50px;
}

nav li a {
  text-decoration: none;
  font-size: 20px;
}

/* Header */
.header {
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* Nav Part End */


/* Banner Part Start */

.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}

.banner-content {
  max-width: 580px;
}

.banner-greetings {
  font-size: 45px;
  font-weight: 600;
}

.banner-title {
  font-size: 85px;
  font-style: bold;

}
.banner-description {
  font-size: 18px;
  font-style: 400;
}
.banner-profile-pic {
  width: 580px;
}

/* Banner Part End */

/* Main Style */

main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
  margin-bottom: 130px;
}

/* About Part Start */
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}
.about-items {
  display: flex;
  justify-content: space-around;
}
.item-title {
  font-size: 20px;
  font-weight: 400;
  color: #757575;
}
.item-description {
  font-weight: 600;
  color: #474747
}


/* About Part End */

/* What I do Part Start */
.skills-container {
  display: flex;
  gap: 24px;
  padding-top: 35px;
}
.skill {
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 10px;

}
.skill-title h4 {
  font-style: bold;
  font-size: 20px;
  color: #181818;
}
.skill-description {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}
/* What I do Part End */
